---
layout: page
title: News
subtitle: Blog posts and articles from around the Internet.
permalink: /news/
color: purple
---
<ul class="list-posts">
    {% for post in site.posts %}
        <li class="post-teaser">
            {% if post.site %}<a href="{{post.site}}" target="_blank">{% else %}<a href="{{ post.url | prepend: site.baseurl }}">{% endif %}
                <span class="post-teaser__title">{{ post.title }}</span>
                <span class="post-teaser__date">{% if post.sitename %}{{post.sitename}}, {% endif %}{{ post.date | date: "%d %B %Y" }}</span>
            </a>
        </li>
    {% endfor %}
</ul>
