---
layout: page
title: Projects
subtitle: Software, microbiome research, and bioinformatics education.
permalink: /projects/
color: green
---
{% for section in site.data.projects %}
    <h1 id="{{section.name | downcase | replace:' ','_' }}">{{section.name}}</h1>
    {% for project in section.projects %}
        <div class="project">
            <div class="project__container">
                <div class="project__header">
                    <span class="project__title">
                        {% if project.site %}
                            <a href="{{project.site}}" target="_blank">{{project.name}}</a>
                        {% else %}
                            {{project.name}}
                        {% endif %}
                    </span>
                    <span class="project__social">
                    {% include functions/get_social_icons.html content_block=project %}
                    </span>
                </div>
                <div class="project__summary">
                    {{project.summary}}
                </div>
            </div>
        {% if project.pic %}
            <img class="project__image" src="/assets/projects/{{ project.pic }}" />
        {% else %}
            <div class="project__image">
                <a class='fa {{section.default-icon}}'></a>
            </div>
        {% endif %}
        </div>
    {% endfor %}
{% endfor %}
