---
layout: page
title: Team
subtitle: The Caporaso Lab is an ever-evolving team of biologists, professional research software engineers, and students of those disciplines.
permalink: /team/
color: dodgerblue
---
<div class='team'>
    {% for person in site.data.team %}
    <div class='person'>
    {% if person.pic %}
        <img src='{{ site.baseurl }}/assets/team/{{ person.pic }}'/>
    {% else %}
        <a class='fa fa-user-secret' title='{{ person.name }} has not posted a picture' style='font-size: 200px; text-decoration:none;'></a>
    {% endif %}
        <ul class='details'>
            <li class='details__attribute details--name'>{{ person.name }}</li>
            <li class='details__attribute details--title'>{{ person.title }}</li>
            <li class='details__attribute details--social'>
            {% if person.cv %}
                <a href="{{ person.cv }}" target='_blank' title="{{person.name}}'s Curriculum Vitae"><i class="fa fa-graduation-cap"></i></a>
            {% endif %}
            {% if person.twitter %}
                <a href="https://twitter.com/{{person.twitter}}" target='_blank' title="{{person.name}}'s Twitter"><i class="fa fa-twitter"></i></a>
            {% endif %}
            {% if person.github %}
                <a href="https://github.com/{{person.github}}" target='_blank' title="{{person.name}}'s GitHub"><i class="fa fa-github"></i></a>
            {% endif %}
            {% if person.site %}
                <a href="{{person.site}}" target='_blank' title="{{person.name}}'s Website'"><i class="fa fa-link"></i></a>
            {% endif %}
            </li>
            {% if person.interests %}
            <li class='details__attribute details--interests'>
            {% for interest in person.interests %}
                <span class='attribute__interest'>{{interest}}</span><br />
            {% endfor %}
            </li>
            {% endif %}
        </ul>
    </div>
    {% endfor %}
    <span class='team__stretch'></span>
</div>

<h1>Former Members</h1>

<div class='team'>
    {% for person in site.data.former_team %}
    <div class='person'>
    {% if person.pic %}
        <img src='{{ site.baseurl }}/assets/team/{{ person.pic }}'/>
    {% else %}
        <a class='fa fa-user-secret' title='{{ person.name }} has not posted a picture' style='font-size: 200px; text-decoration:none;'></a>
    {% endif %}
        <ul class='details'>
            <li class='details__attribute details--name'>{{ person.name }}</li>
            <li class='details__attribute details--title'>{{ person.title }}</li>
            <li class='details__attribute details--social'>
            {% if person.cv %}
                <a href="{{ person.cv }}" target='_blank' title="{{person.name}}'s Curriculum Vitae"><i class="fa fa-graduation-cap"></i></a>
            {% endif %}
            {% if person.twitter %}
                <a href="https://twitter.com/{{person.twitter}}" target='_blank' title="{{person.name}}'s Twitter"><i class="fa fa-twitter"></i></a>
            {% endif %}
            {% if person.github %}
                <a href="https://github.com/{{person.github}}" target='_blank' title="{{person.name}}'s GitHub"><i class="fa fa-github"></i></a>
            {% endif %}
            {% if person.site %}
                <a href="{{person.site}}" target='_blank' title="{{person.name}}'s Website'"><i class="fa fa-link"></i></a>
            {% endif %}
            </li>
        </ul>
    </div>
    {% endfor %}
    <span class='team__stretch'></span>
</div>
