.index {
    overflow: hidden;
    &:after {
        content: "";
        clear: both;
    }
}

.index__bumper {
    font-size: 20px;
    line-height: 26px;
    max-width: none;
    float: left;
}

@media (max-width: 800px) {
    .index__bumper {
        text-align: justify;
        max-width: none;
        float: none;
    }
}
