.pubmed_clear {
    clear: both;
}

.pubmed_article {
    margin-bottom: 15px;
}

.pubmed_author {
    float: left;
    margin-right: 5px;
}

.pubmed_publicationDetails {
    clear: both;
    font-style: italic;
}

.pubmed_abstractExpander, .pubmed_detailsExpander {
    float: left;
    margin-right: 5px;
}

.pubmed_abstract {
    font-size: 14px;
}
