.team {
    text-align: justify;
}

.team__stretch {
    display: inline-block;
    width: 100%;
    line-height: 0;
}

.person {
    width: 220px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 10px 0;
}

.person img {
    margin: 0;
    max-width: 200px;
}

.details {
    list-style: none;
    padding: 0px;
}

.details__attribute {
    text-align: left;
}

.details--name {
    font-size: 1.4em;
    font-weight: bold;
}

.details--title {
    font-style: italic;
    font-size: 1.2em;
    margin: 10px 0;
}

.details--social {
    font-size: 1.3em;
}

.details--interests {
    margin: 10px 0;
}

@media (max-width: 574px) {
    .team {
        text-align: center;
    }
}
